.input-item select{
    font-size: 1rem;
    border: solid 0.5px #c8cdce;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0 0 0;
    width: 250px;
    background: #FFF;
}

/* Select Error */

.input-item.inputErr .input-item_label{
    color: #d63031;
}
.input-item.inputErr select{
    border: solid 0.5px #d63031;
    color: #ff7675;
}