@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
*:focus {
    outline: none;
}
body{
    font-family: 'Quicksand', sans-serif;
}

*{margin: 0; padding: 0; box-sizing: border-box;}

a{
    text-decoration: none;
}

:root{
    --main-header-color: #000000;
    --font-color1: #ffffff;
}